<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iusto rerum laborum error cum unde non molestiae numquam doloribus, assumenda dolor sunt eveniet rem mollitia, quidem tenetur praesentium alias? Impedit.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iusto rerum laborum error cum unde non molestiae numquam doloribus, assumenda dolor sunt eveniet rem mollitia, quidem tenetur praesentium alias? Impedit.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iusto rerum laborum error cum unde non molestiae numquam doloribus, assumenda dolor sunt eveniet rem mollitia, quidem tenetur praesentium alias? Impedit.</p>
        </ul>
    </div>
</div>
